extends base.pug

block scripts
  script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    
    section#introSection
        div Welcome to Bisht's Dance Academy
        div.small Eat Sleep Dance Repeat
    
    section#missionSection
        h2 Our Mission
        div.card
            h3 Dance Perfection
            div.card-box 
                div.card-img 
                    img(src="/static/images/girl.png")
                div.card-content 
                    p This is the best dance academy of the  universe  
        div.card
            h3 Dance the way you like
            div.card-box 
                div.card-img 
                    img(src="/static/images/boy.png")
                div.card-content 
                    p This is the best dance academy of the universe
        div.card
            h3 Expert Teaching
            div.card-box 
                div.card-img 
                    img(src="/static/images/girl2.png")
                div.card-content 
                    p This is the best dance academy of the universe

    section#sponserSection
        h2 Our Sponsers
        div#sponsors
            img(src="/static/images/hp.png",    alt="sponser Image",class="spImage")
            img(src="/static/images/mslogo.jpg",alt="sponser Image",class="spImage")
            img(src="/static/images/skype.png", alt="sponser Image",class="spImage")
            img(src="/static/images/apple.jpg", alt="sponser Image",class="spImage")